In [196]:
#importando pacotes

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors
import numpy as np
from datetime import datetime

In [197]:
df_countries = pd.read_csv("database/best-countries-to-live-in-2024.csv") #branch da madu
df_data = pd.read_csv("database/data.csv") #gigante, vamos ver ela por último em grupo
df_men = pd.read_csv("database/men.csv") #branch da maya
df_fighter_data = pd.read_csv("database/fighter_data.csv") #branch da maya
df_pro_mma = pd.read_csv("database/pro_mma_fighters.csv") #branch do marcelo 
df_ufc_fighters = pd.read_csv("database/ufc-fighters-statistics.csv") #branch do pedro

In [199]:
df_men

,Nickname,Name,Weight Class,Record
0,NaN,Anthony Adams,Middleweight,8-2-0 (W-L-D)
1,NaN,Scott Adams,Heavyweight,6-0-0 (W-L-D)
2,"""The Lion""",Zarrukh Adashev,"""The Lion""",4-4-0 (W-L-D)
3,"""The Last Stylebender""",Israel Adesanya,"""The Last Stylebender""",24-3-0 (W-L-D)
4,NaN,Sam Adkins,Light Heavyweight,0-0-0 (W-L-D)
...,...,...,...,...
2652,NaN,Zhalgas Zhumagulov,Flyweight,14-9-0 (W-L-D)
2653,"""Smile Killer""",Farès Ziam,"""Smile Killer""",15-4-0 (W-L-D)
2654,"""The Messiah""",James Zikic,"""The Messiah""",16-3-0 (W-L-D)
2655,NaN,Igor Zinoviev,Middleweight,0-0-0 (W-L-D)
2656,"""Tigre""",Allan Zuniga,"""Tigre""",13-2-0 (W-L-D)

In [200]:
print(df_fighter_data)

           Unnamed: 0  win  loss  nc  draw Height   Weight Reach    STANCE  \
0          Uriah Hall    8     7   0     0   6'0"  185lbs.   79"  Orthodox
1      Anderson Silva   31    10   1     0   6'2"  185lbs.   77"  Southpaw
2      Bryce Mitchell    4     0   0     0  5'10"  145lbs.   70"  Southpaw
3          Andre Fili    9     6   0     0  5'11"  145lbs.   74"  Orthodox
4       Kevin Holland    7     2   0     0   6'3"  170lbs.   81"  Orthodox
...               ...  ...   ...  ..   ...    ...      ...   ...       ...
2110    Frank Hamaker    1     0   0     0     --       --    --       NaN
2111  Thaddeus Luster    0     1   0     0   6'3"  210lbs.    --       NaN
2112    David Levicki    0     1   0     0   6'5"  275lbs.    --       NaN
2113       Ray Wizard    0     1   0     0     --       --    --       NaN
2114   Sean Daugherty    0     1   0     0   6'0"  175lbs.    --       NaN

             DOB  SLpM Str.Acc.  SApM Str.Def  TDAvg. TDAcc. TDDef.  Sub.Avg.
0     Jul31,1984  3.31      50%  3.57     53%    0.75    38%    69%       0.2
1     Apr14,1975  3.04      62%  1.98     61%    0.52    77%    69%       0.8
2     Oct04,1994  2.05      59%  1.36     58%    2.13    41%    33%       2.7
3     Jun25,1990  3.90      36%  3.97     53%    2.71    49%    69%       0.2
4     Nov05,1992  4.69      56%  2.85     56%    0.96    36%    54%       0.8
...          ...   ...      ...   ...     ...     ...    ...    ...       ...
2110          --  0.00       0%  0.00      0%    0.00     0%     0%       0.0
2111          --  0.00       0%  0.00      0%    0.00     0%     0%       0.0
2112          --  0.00       0%  0.00      0%    0.00     0%     0%       0.0
2113          --  0.00       0%  0.00      0%    0.00     0%     0%       0.0
2114  Dec04,1975  0.00       0%  0.00      0%    0.00     0%     0%       0.0

[2115 rows x 18 columns]

In [33]:
df_countries = pd.read_csv("database/best-countries-to-live-in-2024.csv", encoding='ISO-8859-1') #branch da madu
df_country_statistics = pd.read_csv("database/Country statistics.csv", encoding='ISO-8859-1')  #branch do daniel
df_data = pd.read_csv("database/data.csv", encoding='ISO-8859-1') #gigante, vamos ver ela por último em grupo
df_men = pd.read_csv("database/men.csv", encoding='ISO-8859-1') #branch da maya
df_pro_mma = pd.read_csv("database/pro_mma_fighters.csv", encoding='ISO-8859-1') #branch do marcelo 
df_ufc_fighters = pd.read_csv("database/ufc-fighters-statistics.csv", encoding='ISO-8859-1') #branch do pedro
df_idh = pd.read_csv("database/human-development-index.csv", encoding='ISO-8859-1')
df_idh.head()

        Entity Code  Year  Human Development Index
0  Afghanistan  AFG  1990                    0.284
1  Afghanistan  AFG  1991                    0.292
2  Afghanistan  AFG  1992                    0.299
3  Afghanistan  AFG  1993                    0.307
4  Afghanistan  AFG  1994                    0.300

In [45]:
#verificando o conteúdo do dataset
df_countries.info()


countries_list = df_countries.country.unique().tolist() 
idh_list = df_idh.Entity.unique().tolist()

#verificando quais países do dataset countries não estão no dataset de idh
countries_not_in_list = []
for pais in idh_list:
    if(pais not in countries_list):
        countries_not_in_list.append(pais)

print(countries_not_in_list)

#limpeza do dataset best countries to live
new_df_countries = df_countries.drop(columns=['population_2024', 'population_growthRate', 'land_area', 'population_density', 'population_densityMi', 'share_borders'])

#verificando se a valores nulos (nan) no dataset
nan_in_df = new_df_countries.isnull().sum().sum()
 
# printing the number of values present in
# the whole dataframe
print('Number of NaN values present: ' + str(nan_in_df) + "\n")


new_df_countries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   population_2024        141 non-null    int64
 1   population_growthRate  141 non-null    float64
 2   land_area              141 non-null    int64
 3   country                141 non-null    object
 4   region                 141 non-null    object
 5   unMember               141 non-null    bool
 6   population_density     141 non-null    float64
 7   population_densityMi   141 non-null    float64
 8   share_borders          129 non-null    object
 9   Hdi2021                141 non-null    float64
 10  Hdi2020                141 non-null    float64
 11  WorldHappiness2022     141 non-null    float64
dtypes: bool(1), float64(6), int64(2), object(3)
memory usage: 12.4+ KB
['Andorra', 'Angola', 'Antigua and Barbuda', 'Arab States (UNDP)', 'Bahamas', 'Barbados', 'Belize', 'Bhutan', 'Brunei', 'Burundi', 'Cape Verde', 'Central African Republic', 'Congo', "Cote d'Ivoire", 'Cuba', 'Czechia', 'Democratic Republic of Congo', 'Djibouti', 'Dominica', 'East Asia and the Pacific (UNDP)', 'East Timor', 'Equatorial Guinea', 'Eritrea', 'Europe and Central Asia (UNDP)', 'Fiji', 'Grenada', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'High human development (UNDP)', 'Iran', 'Kiribati', 'Latin America and the Caribbean (UNDP)', 'Liechtenstein', 'Low human development (UNDP)', 'Maldives', 'Marshall Islands', 'Medium human development (UNDP)', 'Micronesia (country)', 'Nauru', 'Oman', 'Palau', 'Papua New Guinea', 'Qatar', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Seychelles', 'Solomon Islands', 'Somalia', 'South Asia (UNDP)', 'South Sudan', 'Sub-Saharan Africa (UNDP)', 'Suriname', 'Syria', 'Tonga', 'Trinidad and Tobago', 'Tuvalu', 'Vanuatu', 'Venezuela', 'Very high human development (UNDP)', 'World']
Number of NaN values present: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             141 non-null    object
 1   region              141 non-null    object
 2   unMember            141 non-null    bool
 3   Hdi2021             141 non-null    float64
 4   Hdi2020             141 non-null    float64
 5   WorldHappiness2022  141 non-null    float64
dtypes: bool(1), float64(3), object(2)
memory usage: 5.8+ KB

,country,region,unMember,Hdi2021,Hdi2020,WorldHappiness2022
0,India,Asia,True,0.633,0.642,3.777
1,China,Asia,True,0.768,0.764,5.585
2,United States,North America,True,0.921,0.920,6.977
3,Indonesia,Asia,True,0.705,0.709,5.240
4,Pakistan,Asia,True,0.544,0.543,4.516
...,...,...,...,...,...,...
136,Comoros,Africa,True,0.558,0.562,4.609
137,Luxembourg,Europe,True,0.930,0.924,7.404
138,Montenegro,Europe,True,0.832,0.826,5.547
139,Malta,Europe,True,0.918,0.911,6.447
140,Iceland,Europe,True,0.959,0.957,7.557

Verificado que o dataset de best countries to live não possui entradas nulas \o/
As colunas que fora dropadas são aquelas que não possuem objetivo relacionado ao nosso trabalho (podem ocorrer mudanças é claro).
Foi verificado que alguns países não estão inseridos no dataset de best countries to live, mas não cabe nessa instância retirar esses valores da tabela ou colocá-los, pois uma melhor métrica seria saber quais são os países de cada lutador da base de dados, e então fazer um filtro