In [1]:
#importando pacotes

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

In [33]:
df_countries = pd.read_csv("database/best-countries-to-live-in-2024.csv", encoding='ISO-8859-1') #branch da madu
df_country_statistics = pd.read_csv("database/Country statistics.csv", encoding='ISO-8859-1')  #branch do daniel
df_data = pd.read_csv("database/data.csv", encoding='ISO-8859-1') #gigante, vamos ver ela por Ãºltimo em grupo
df_men = pd.read_csv("database/men.csv", encoding='ISO-8859-1') #branch da maya
df_pro_mma = pd.read_csv("database/pro_mma_fighters.csv", encoding='ISO-8859-1') #branch do marcelo 
df_ufc_fighters = pd.read_csv("database/ufc-fighters-statistics.csv", encoding='ISO-8859-1') #branch do pedro
df_idh = pd.read_csv("database/human-development-index.csv", encoding='ISO-8859-1')
df_idh.head()

        Entity Code  Year  Human Development Index
0  Afghanistan  AFG  1990                    0.284
1  Afghanistan  AFG  1991                    0.292
2  Afghanistan  AFG  1992                    0.299
3  Afghanistan  AFG  1993                    0.307
4  Afghanistan  AFG  1994                    0.300

In [45]:
#verificando o conteÃºdo do dataset
df_countries.info()


countries_list = df_countries.country.unique().tolist() 
idh_list = df_idh.Entity.unique().tolist()

#verificando quais paÃ­ses do dataset countries nÃ£o estÃ£o no dataset de idh
countries_not_in_list = []
for pais in idh_list:
    if(pais not in countries_list):
        countries_not_in_list.append(pais)

print(countries_not_in_list)

#limpeza do dataset best countries to live
new_df_countries = df_countries.drop(columns=['population_2024', 'population_growthRate', 'land_area', 'population_density', 'population_densityMi', 'share_borders'])

#verificando se a valores nulos (nan) no dataset
nan_in_df = new_df_countries.isnull().sum().sum()
 
# printing the number of values present in
# the whole dataframe
print('Number of NaN values present: ' + str(nan_in_df) + "\n")


new_df_countries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   population_2024        141 non-null    int64
 1   population_growthRate  141 non-null    float64
 2   land_area              141 non-null    int64
 3   country                141 non-null    object
 4   region                 141 non-null    object
 5   unMember               141 non-null    bool
 6   population_density     141 non-null    float64
 7   population_densityMi   141 non-null    float64
 8   share_borders          129 non-null    object
 9   Hdi2021                141 non-null    float64
 10  Hdi2020                141 non-null    float64
 11  WorldHappiness2022     141 non-null    float64
dtypes: bool(1), float64(6), int64(2), object(3)
memory usage: 12.4+ KB
['Andorra', 'Angola', 'Antigua and Barbuda', 'Arab States (UNDP)', 'Bahamas', 'Barbados', 'Belize', 'Bhutan', 'Brunei', 'Burundi', 'Cape Verde', 'Central African Republic', 'Congo', "Cote d'Ivoire", 'Cuba', 'Czechia', 'Democratic Republic of Congo', 'Djibouti', 'Dominica', 'East Asia and the Pacific (UNDP)', 'East Timor', 'Equatorial Guinea', 'Eritrea', 'Europe and Central Asia (UNDP)', 'Fiji', 'Grenada', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'High human development (UNDP)', 'Iran', 'Kiribati', 'Latin America and the Caribbean (UNDP)', 'Liechtenstein', 'Low human development (UNDP)', 'Maldives', 'Marshall Islands', 'Medium human development (UNDP)', 'Micronesia (country)', 'Nauru', 'Oman', 'Palau', 'Papua New Guinea', 'Qatar', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Seychelles', 'Solomon Islands', 'Somalia', 'South Asia (UNDP)', 'South Sudan', 'Sub-Saharan Africa (UNDP)', 'Suriname', 'Syria', 'Tonga', 'Trinidad and Tobago', 'Tuvalu', 'Vanuatu', 'Venezuela', 'Very high human development (UNDP)', 'World']
Number of NaN values present: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             141 non-null    object
 1   region              141 non-null    object
 2   unMember            141 non-null    bool
 3   Hdi2021             141 non-null    float64
 4   Hdi2020             141 non-null    float64
 5   WorldHappiness2022  141 non-null    float64
dtypes: bool(1), float64(3), object(2)
memory usage: 5.8+ KB

,country,region,unMember,Hdi2021,Hdi2020,WorldHappiness2022
0,India,Asia,True,0.633,0.642,3.777
1,China,Asia,True,0.768,0.764,5.585
2,United States,North America,True,0.921,0.920,6.977
3,Indonesia,Asia,True,0.705,0.709,5.240
4,Pakistan,Asia,True,0.544,0.543,4.516
...,...,...,...,...,...,...
136,Comoros,Africa,True,0.558,0.562,4.609
137,Luxembourg,Europe,True,0.930,0.924,7.404
138,Montenegro,Europe,True,0.832,0.826,5.547
139,Malta,Europe,True,0.918,0.911,6.447
140,Iceland,Europe,True,0.959,0.957,7.557

Verificado que o dataset de best countries to live nÃ£o possui entradas nulas \o/
As colunas que fora dropadas sÃ£o aquelas que nÃ£o possuem objetivo relacionado ao nosso trabalho (podem ocorrer mudanÃ§as Ã© claro).
Foi verificado que alguns paÃ­ses nÃ£o estÃ£o inseridos no dataset de best countries to live, mas nÃ£o cabe nessa instÃ¢ncia retirar esses valores da tabela ou colocÃ¡-los, pois uma melhor mÃ©trica seria saber quais sÃ£o os paÃ­ses de cada lutador da base de dados, e entÃ£o fazer um filtro